<!DOCTYPE html>
<html>
  <head>
    <title>Quiz1</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
   
    <div class="jumbotron text-center">
      <div class="booyah-box col-4 offset-4">
        <h1>Quiz #1</h1>
          <p>by Ulises Cadena</p>
      </div>
    </div>
  
    <div class= "booyah-box2 col-4 offset-4">
    <h3>Things I need to practice</h3>
    <ul>
      <li>JavaScript</li>
      <li>layout</li>
      <li>OOP</li>
      <li>CSS</li>
      <li>HTML</li>

    
   










       
      

    <%= yield %>
  </body>
</html>
